name: Main

on:
  push:
    tags:
      - '*.*.*'
    branches:
      - "master"
      - "feature/*"
      - "bug/*"
      - "test/*"
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with: 
        fetch-depth: 0

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16

    - name: Build
      run: go build
    
    - name: Test
      run: go test ./... -v

    - name: Golangci lint
      uses: golangci/golangci-lint-action@v2
      with:
          # Optional: if set to true then the action will use pre-installed Go.
          skip-go-installation: true
        
    - name: Run GoReleaser
      uses: goreleaser/goreleaser-action@v4
      if: startsWith(github.ref, 'refs/tags/')
      with:
        version: latest
        args: release --rm-dist
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}